/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and base styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Anchor tag styles */
a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

a:hover {
    color: #FFEB3B;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header styles */
header {
    background: linear-gradient(90deg, rgba(48, 28, 2, 0.9) 0%, rgba(86, 135, 8, 0.9) 100%);
    color: white;
    padding: 20px 0;
    border-bottom: #333 3px solid;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: background 0.5s;
}

header.scrolled {
    background: linear-gradient(90deg, rgba(48, 28, 2, 0.8) 0%, rgba(86, 135, 8, 0.8) 100%);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    height: 50px;
}

header nav {
    flex-grow: 1;
    text-align: right;
}

header nav ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin-left: 20px;
    position: relative;
}

header nav ul li a {
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s, border-bottom 0.3s;
    position: relative;
}

header nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FFEB3B;
    transition: width 0.3s;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
}

header nav ul li a:hover::after,
header nav ul li a.active::after {
    width: 100%;
}

/* Slider styles */
.slider-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider .responsive-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.slick-prev, .slick-next {
    font-size: 30px;
    color: white;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.slick-prev::before, .slick-next::before {
    font-size: 20px;
    color: white;
}

.slick-dots {
    bottom: 20px;
}

.slick-dots li button::before {
    font-size: 12px;
    color: white;
}

.slick-dots li.slick-active button::before {
    color: #FFEB3B;
}

/* Main content styles */
main {
    padding: 40px 0;
}

main .details {
    padding: 20px;
    background: white;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

main .details:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

main h2 {
    margin-bottom: 20px;
    font-size: 2em;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
    display: inline-block;
}

.responsive-img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.responsive-img:hover {
    transform: scale(1.05);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

/* Media queries */
@media (max-width: 768px) {
    header .container {
        flex-direction: column;
    }

    header .logo {
        margin-bottom: 20px;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }

    .slick-prev, .slick-next {
        font-size: 24px;
        width: 30px;
        height: 30px;
    }

    .slick-prev::before, .slick-next::before {
        font-size: 16px;
    }

    .slick-dots {
        bottom: 10px;
    }

    main {
        padding: 20px 0;
    }
}
